*~
.#*
/target
/lib
/classes
/checkouts
pom.xml
*.jar
*.class
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-repl-history
.lein-cljsbuild-*
resources/public/js/main.js
resources/public/js/main-dev.js
.lein-env
*.log
*.log.*
*.log4j
*.log4j.*
.repl
out
.nrepl-port
enduro.db