body {
    font-family: "Gill Sans";
}

span.incidenttype { 
  font-weight: bold; 
}

div.incident{ 
  margin-bottom: 5px;
}


#map_canvas{ 
  width:800px; 
  height:640px; 
}

/* span.datestamp { font-weight: italic; } */
